header.logo {
    text-align: center;
}

.logo img {
	display: inline-block;
	vertical-align: middle;
}

.logo1 {
	margin-right: 400px;
}

.logo2 {
	margin-left: 400px;
}

h1 {
	display: inline-block;
	color: hotpink;
	font-size: 50px;
	padding: 0px;
    margin: 0px;
    display: inline-block;
}

.navBar {
	text-align: center;
	margin-top: 20px;
}

a {
/*	box-sizing: border-box; el padding y border de ese elemento no incrementan su ancho */
	text-decoration: none;
	background: black;
	color: #fff;
	padding: 2px 50px;
	margin-left: 50px;
}

.home {
	margin-left: 0px;
}

.container {
/*	width: auto;*/
	margin: auto;
}

section.mainBaner {
	text-align: center;
	margin-top: 50px;
}

.baner1 {
	display: inline-block;
	margin-right: 200px;
}

.baner2 {
	display: inline-block;
}

.bannerCarrousel {
	text-align: center;
	margin: 40px 0px;
}

.categorias {
	text-align: center;	
}

.categorias img {
	display: inline-block;
}

.tamano {
	width: 400px;
	display: inline-block;
	margin: 0px 60px;
}

footer {
	max-width: 1000px;
	height: 300px;
	background: pink;
	margin: auto;
}

footer img {
	height: 200px;
/*	margin: auto;*/
}

figure {
	margin-top: 70px;
}