.mainBaner{
	text-align: center;
	width: 1480px;
	height: 440px;
	margin: auto;
}
.formulario{
	text-align: center;
	margin-top: 20px;
}
.formulario p{
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
	font-family: 'Pacifico', cursive;
}
.email{
	border: 1px solid ;
  padding: 5px;
  width: 200px;
  font-size: 14px;
}
.boton{
	border: 1px solid;
  padding: 5px 30px;
  margin-left: 11px;
  font-size: 12px;
  background: #dca7c4;
  border-radius: 5px;
  color: #fff;
}
.boton:hover{
	cursor: pointer;
	background: #a69ec5;
}
.redesSociales{
	margin-right: 100px;
}
a{
	float: right;
	font-size: 36px;
	color: black;
	padding-left: 20px;
	color: #dca7c4;
}
a:hover{
	cursor: pointer;
	color: #a69ec5;
}
.text p{
	clear: right;
	text-align: center;
}
.text{
	margin-top: 300px;
}
