<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Layout</title>
</head>
<body>
	<div class="container">
		<header>
			<figure class="logo">
				<p>Logo</p>
			</figure>
			<nav class="navBar">
				<p>Navigation</p>
			</nav>
			<div class="banner">
				<p>Header/Banner</p>
			</div>
		</header>
		<section class="mainBanner">
			<aside class="sideBar">
				<p>Side Bar</p>
			</aside>
			<div class="bodyArea">
				<p>Body Area</p>
			</div>
		</section>
		<footer>
			<p>Footer</p>
		</footer>
	</div>
</body>
</html>