*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 0px;
}
.logo, figure, nav, .banner, .sideBar, .bodyArea, footer{
	background: #dddddd;
	width: 80%;
	text-align: center;
	margin-left: 10%;
}
figure{
	height: 100px;
  margin-right: 0px;
  margin-left: 0px;
}
figure p{
	line-height: 100px;
}
.navBar{
	margin-top: 20px;
	height: 50px;
}
nav p{
	line-height: 50px;
}
.banner{
  height: 300px;
  margin-top: 20px;
}
.banner p{
	line-height: 300px;
}
.sideBar{
	display: inline-block;
	width: 30%;
  height: 1000px;
  margin-top: 20px;
  margin-right: 20px;
}
.sideBar p{
	line-height: 1000px;
}
.bodyArea{
	display: inline-block;
	width: calc(50% - 20px);
  height: 1000px;
  margin: auto;
}
.bodyArea p{
	line-height: 1000px;
}
footer{
	height: 100px;
  margin-top: 20px;
}
footer p{
	line-height: 100px;
}
p{
	font-size: 40px;
	color: black;
	font-weight: bold;
	font-family: helvetica;
	text-align: center;
}
figure p{
	text-align: left;
}