*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 0px;
}
figure, nav, .banner, .sideBar, .bodyArea, footer{
	background: #dddddd;
}
figure{
	height: 100px;
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
}
figure p{
	line-height: 100px;
}
nav{
	margin-top: 20px;
	height: 50px;
  width: auto;
}
nav p{
	line-height: 50px;
}
.banner{
	width: auto;
  height: 300px;
  margin-top: 20px;
}
.banner p{
	line-height: 300px;
}
.sideBar{
	display: inline-block;
	width: 30%;
  height: 1000px;
  margin-top: 20px;
  margin-right: 20px;
}
.sideBar p{
	line-height: 1000px;
}
.bodyArea{
	display: inline-block;
	width: calc(70% - 20px);
  height: 1000px;
  margin-top: 20px;
}
.bodyArea p{
	line-height: 1000px;
}
footer{
	height: 100px;
  width: auto;
  margin-top: 20px;
}
footer p{
	line-height: 100px;
}
p{
	font-size: 40px;
	color: black;
	font-weight: bold;
	font-family: helvetica;
	text-align: center;
}
figure p{
	text-align: left;
}