*{
	font-family: Helvetica;
}
ul{
	display: inline-block;
}
.historia a{
	text-decoration: none;
	list-style: none;
	color: hotpink;
}
li{
	display: inline-block;
}
li .promo{
	color: black;
}
nav{
	display: inline-block;
	float: right;
	margin-top: 9px;
}
nav img{
	height: 30px;
}
nav img:hover{
	cursor: pointer;
}
.listado{
	max-width: 60%;
	text-align: center;
	margin: 60px auto;
}
.producto{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 25px;
	border: 1px solid pink;
}
.producto:hover{
	cursor: pointer;
}
.producto img{
	width: 100%; 
	height: 100%;
}
.producto span{
	display: block;
	text-align: center;
	background: hotpink;
	padding: 10px 0px;
}
.producto span:hover{
	background: pink;
	cursor: pointer;
}

@media (max-width: 480px) {
.producto{
	width: 180px;
	height: 180px;
}
}